<%- include('partials/sidebar') %>
<div class="dashbord container">
  <h2 class="text-center mb-4">Configuração</h2>
  <%- include('partials/admin/continents') %>
  <%- include('partials/admin/countries') %>
  <%- include('partials/admin/cities') %>
</div>
<%- include('partials/footer') %>