<%- include('partials/sidebar') %>
<div class="dashbord container">
  <h2 class="text-center mb-4">Dashboard</h2>
  <%- include('partials/dashbord/general') %>
  <%- include('partials/dashbord/continents') %>
  <%- include('partials/dashbord/countries') %>
  <%- include('partials/dashbord/cities') %>
  <%- include("partials/dashbord/map", { markers: markers }) %>
</div>
<%- include('partials/footer') %>
<script src="/js/index.js"></script>